<div class='bikes'>
  <% station.bikes.each do |bike| %>
    <div class='bike'>
      ID: <%= bike.id  %>
      <% if bike.status == 'damaged' %>
        <i class='material-icons damaged'>highlight_off</i>
      <% else %>
        <i class='material-icons available'>check_circle_outline</i>
      <% end %>
      <% if bike.status == 'available' %>
      <div class='withdraw_button'>
          <%= button_to 'Alugar', withdraws_path, method: :post, params: { bike_id: bike.id, station_id: station.id } %>
      </div>
      <div class="damage_report_button">
        <%= button_to 'Reportar Dano', damage_reports_path, method: :post, params: { bike_id: bike.id } %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
