.div-login {
  display: block;
  margin: auto;
  margin-top: 50px;
}

.header-login {
  text-align: center;
}

.field-login {
  text-align: center;
  margin: 10px;
}

.actions-login {
  text-align: center;
}