body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
}

.header {
  margin: 10px;
  width: 80%;
  margin: auto;
}

.home-path {
  float: left;
}

.home-icon {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  color: orange;
  border: 2px solid gray;
  border-radius: 10px;
  transition: all 300ms linear;
}

.home-icon:hover {
  color: blueviolet;
  border-color: blueviolet;
}

.current-user-logout {
  float: right;
}

.current-user-trips {
  float: right;
  margin-right: 10px;
}

.current-user {
  float: right;
  padding: 5px;
}

.notice {
  display: block;
  background-color: rgb(135, 236, 135);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  margin: auto;
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.alert {
  display: block;
  background-color: rgb(252, 252, 135);
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  margin: auto;
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

input {
  border: none;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  padding: 5px;
  transition: all 100ms cubic-bezier(.17,.67,.57,.2);
}

input:hover {
  background-color: blueviolet;
  color: white;
}

section {
  margin: 2px;
}
