.bike-img {
  max-height: 80px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.stations {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 120px;
}

.station {
  display: inline-block;
  width: 80%;
  max-height: 80px;
  padding: 20px 0;
  border: 5px solid black;
  overflow: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgb(219, 219, 219);
  transition: all 700ms cubic-bezier(.17,.67,.83,.67) 0.1s;
}

.station:hover {
  background-color: white;
  max-height: 400px;
}

.station_name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
  font-size: 20px;
}

.station_info {
  display: inline-block;
  width: 100%;
}

.bikes {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.bike {
  padding: 5px;
}

.withdraw_button {
  display: inline-block;
}

.damage_report_button {
  display: inline-block;
}

.material-icons.damaged {
  color: red;
  font-size: 14px;
}

.material-icons.available {
  color: green;
  font-size: 14px;
}
