.trips {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.trip {
  display: inline-block;
  width: 80%;
  max-height: 80px;
  padding: 20px 0;
  border: 5px solid black;
  overflow: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgb(219, 219, 219);
  transition: all 700ms cubic-bezier(.17,.67,.83,.67) 0.1s;
}

.trip:hover {
  background-color: white;
  max-height: 400px;
}
